### Домашнее задание к лекции "Введение в типы данных и циклы. Часть 1"

#### Задание 1.

In [1]:
my_word = 'cats'
word_len = len(my_word)
middle = int(word_len/2)
if word_len % 2 == 0:
    print(my_word[middle-1:middle+1])
else:
    print(my_word[middle])

at

#### Задание 2.

In [94]:
user_sum = 0
while True:
    user_num = int(input('Введите число: '))
    if user_num != 0:
        user_sum += user_num
    else:
        print(f'Результат:\n{user_sum}')
        break

Введите число: 12
Введите число: 23
Введите число: 34
Введите число: 0
Результат:
69

#### Задание 3.

In [26]:
boys = ['Peter','Alex','John','Arthur','Richard']
girls = ['Kate','Liza','Kira','Emma','Trisha']
if len(boys) != len(girls):
    print('Результат:\nВнимание, кто-то может остаться без пары!')
else:
    pairs = zip(sorted(boys),sorted(girls))
    pair_list = list(pairs)
    print('Результат:\nИдеальные пары')
    for i in pair_list:
        print(f'{i[0]} и {i[1]}')

Результат:
Идеальные пары
Alex и Emma
Arthur и Kate
John и Kira
Peter и Liza
Richard и Trisha

#### Задание 4.

In [93]:
countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
print('Результат:\nСредняя температура в странах:')
for country, temperature in countries_temperature:
    temp_mean = 0
    for temp in temperature:
        temp_mean += temp
    temp_mean = (temp_mean/len(temperature) - 32) * 5 / 9
    print(f'{country} - {round(temp_mean,1)} C')

Результат:
Средняя температура в странах:
Thailand - 23.9 C
Germany - 13.8 C
Russia - 3.7 C
Poland - 12.0 C

#### Задание 5.

In [79]:
stream = [
'2018-01-01,user1,3',
'2018-01-07,user1,4',
'2018-03-29,user1,1',
'2018-04-04,user1,13',
'2018-01-05,user2,7',
'2018-06-14,user3,4',
'2018-07-02,user3,10',
'2018-03-21,user4,19',
'2018-03-22,user4,4',
'2018-04-22,user4,8',
'2018-05-03,user4,9',
'2018-05-11,user4,11',
]
views_sum = 0
unic_users = []
for views in stream:
    view = views.split(',')
    views_sum += int(view[2])
    if view[1] not in unic_users:
          unic_users.append(view[1]) 
print(f'Результат;\nСреднее количество просмотров на уникального пользователя: {views_sum/len(unic_users)}')

Результат;
Среднее количество просмотров на уникального пользователя: 23.25

#### Задание 6.

In [92]:
unic_number = []
user_str = input('Введите числa, разделенные пробелом:')
numbers = user_str.split(' ')
for n in numbers:
    if n not in unic_number:
        unic_number.append(n)
unic_list = ' '.join(unic_number)
print(unic_list)

Введите числa, разделенные пробелом:1 2 3 4 3 2
1 2 3 4