### Домашнее задание «Продвинутый pandas»

#### Задание 1
Для датафрейма log из материалов занятия создайте столбец source_type по следующим правилам:  
•	если источник traffic_source равен yandex или google, то в source_type ставится organic  
•	для источников paid и email из России - ставим ad  
•	для источников paid и email не из России - ставим other  
•	все остальные варианты берем из traffic_source без изменений

In [54]:
import pandas as pd
url = 'C:/ds22/1_pyda/12_pd_adv/data/'

In [55]:
log = pd.read_csv(url+'visit_log.csv', sep=';')
log.head()

,timestamp,visit_id,url,region,user_id,traffic_source
0,1549980692,e3b0c44298,https://host.ru/3c19b4ef7371864fa3,Russia,b1613cc09f,yandex
1,1549980704,6e340b9cff,https://host.ru/c8d9213a31839f9a3a,Russia,4c3ec14bee,direct
2,1549980715,96a296d224,https://host.ru/b8b58337d272ee7b15,Russia,a8c40697fb,yandex
3,1549980725,709e80c884,https://host.ru/b8b58337d272ee7b15,Russia,521ac1d6a0,yandex
4,1549980736,df3f619804,https://host.ru/b8b58337d272ee7b15,Russia,d7323c571c,yandex

In [56]:
log.loc[:,'source_type'] = log.traffic_source
log.loc[log.traffic_source.str.contains('paid|email'), 'source_type'] = 'other'
log.loc[(log.region.str.contains('Russia') & log.traffic_source.str.contains('paid|email')), 'source_type'] = 'ad'
log.loc[log.traffic_source.str.contains('yandex|google'), 'source_type'] = 'organic'
log.source_type.value_counts()

direct     7013
organic    5407
ad         3790
other      2728
Name: source_type, dtype: int64

#### Задание 2
В файле URLs.txt содержатся url страниц новостного сайта. Вам необходимо отфильтровать его по адресам страниц с текстами новостей. Известно, что шаблон страницы новостей имеет внутри url следующую конструкцию: /, затем 8 цифр, затем дефис. Выполните следующие действия:  
1.	Прочитайте содержимое файла с датафрейм  
2.	Отфильтруйте страницы с текстом новостей, используя метод str.contains и регулярное выражение в соответствии с заданным шаблоном.

In [57]:
df_url = pd.read_csv(url+'URLs.txt', sep='\n')
df_url.head()

                                                 url
0                                            /world/
1                                           /latest/
2                                      /?updated=top
3  /politics/36188461-s-marta-zhizn-rossiyan-susc...
4  /world/36007585-tramp-pridumal-kak-reshit-ukra...

In [58]:
df_news = df_url[df_url.url.str.contains('/\d{8}-')]
df_news

                                                  url
3   /politics/36188461-s-marta-zhizn-rossiyan-susc...
4   /world/36007585-tramp-pridumal-kak-reshit-ukra...
5   /science/36157853-nasa-sobiraet-ekstrennuyu-pr...
6   /video/36001498-poyavilis-pervye-podrobnosti-g...
7   /world/36007585-tramp-pridumal-kak-reshit-ukra...
..                                                ...
88  /cis/35984145-kreml-prokommentiroval-soobschen...
89  /video/36071019-olimpiyskie-obekty-rio-prevrat...
90  /science/36151301-nazvano-posledstvie-zloupotr...
91  /incidents/36027330-vospitatelnitsu-zatravili-...
92  /world/36103095-dominikanskih-zhurnalistov-ubi...

[84 rows x 1 columns]

#### Домашнее задание 3
В датафрейме data создайте столбец lemmas, в котором вычислите леммы поисковых запросов из столбца keyword. Леммы должны иметь строковый тип.

In [59]:
data = pd.DataFrame({
    'keyword': ['курс гривны к рублю', 'доллары в рубли', '100 долларов в рублях', 'курс рубля'],
    'shows': [125076, 114173, 97534, 53546],
})
data

                 keyword   shows
0    курс гривны к рублю  125076
1        доллары в рубли  114173
2  100 долларов в рублях   97534
3             курс рубля   53546

In [60]:
from pymystem3 import Mystem

In [61]:
m = Mystem()

In [63]:
data['lemma'] = data['keyword'].apply(lambda row: ' '.join(m.lemmatize(row)[:-1]))

In [64]:
data

                 keyword   shows                      lemma
0    курс гривны к рублю  125076  курс   гривна   к   рубль
1        доллары в рубли  114173         доллар   в   рубль
2  100 долларов в рублях   97534   100   доллар   в   рубль
3             курс рубля   53546               курс   рубль