### Домашнее задание «Функции и работа с данными»

#### Задание 1
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:
- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг  
Результат классификации запишите в столбец class

In [53]:
import pandas as pd

In [54]:
ratings = pd.read_csv('C:/ds22/1_pyda/11_pandas_functions/ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [55]:
#movies = pd.read_csv('C:/ds22/1_pyda/11_pandas_functions/ml-latest-small/movies.csv')
#movies.head()

In [56]:
mean_rating = ratings.groupby('movieId').agg({'rating':['mean']})
mean_rating.head()

           rating
             mean
movieId
1        3.872470
2        3.401869
3        3.161017
4        2.384615
5        3.267857

In [57]:
def classification(data):
    if data['mean'] <= 2:
        movie_class = 'низкий'
    elif ((data['mean'] > 2) & (data['mean'] <= 4)):
        movie_class = 'средний'
    else:
        movie_class = 'высокий'
    return movie_class

In [52]:
mean_rating['class'] = mean_rating['rating'].apply(classification, axis=1)
mean_rating

           rating    class
             mean
movieId
1        3.872470  средний
2        3.401869  средний
3        3.161017  средний
4        2.384615  средний
5        3.267857  средний
...           ...      ...
161944   5.000000  высокий
162376   4.500000  высокий
162542   5.000000  высокий
162672   3.000000  средний
163949   5.000000  высокий

[9066 rows x 2 columns]

#### Задание 2
Используем файл keywords.csv.
Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’. Результат классификации запишите в отдельный столбец region.

In [58]:
# Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

In [124]:
keywords = pd.read_csv('C:/ds22/1_pyda/11_pandas_functions/ml-latest-small/keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [137]:
def regions(row):
    if 'москва' in row['keyword']:
        row['region'] = 'Центр'
    elif 'тула' in row['keyword']:
        row['region'] = 'Центр'
    elif 'ярославль' in row['keyword']:
        row['region'] = 'Центр'
    elif 'петербург' in row['keyword']:
        row['region'] = 'Северо-Запад'
    elif 'псков' in row['keyword']:
        row['region'] = 'Северо-Запад'
    elif 'мурманск' in row['keyword']:
        row['region'] = 'Северо-Запад'
    elif 'владивосток' in row['keyword']:
        row['region'] = 'Дальний Восток'
    elif 'сахалин' in row['keyword']:
        row['region'] = 'Дальний Восток'
    elif 'хабаровск' in row['keyword']:
        row['region'] = 'Дальний Восток'
    else:
        row['region'] = 'undefined'
    return row

In [141]:
keywords = keywords.apply(regions, axis=1)
keywords.head()

         keyword     shows     region
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [142]:
keywords['region'].value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: region, dtype: int64